# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and large files

*.h5
*.pt
*.pth

# OS-specific files
.DS_Store
Thumbs.db